*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(100deg,#ff99c8,#fcf6bd,#d0f4de,#a9def9,#e4c1f9)
}
.main-section{
    display: flex;
   flex-direction: column;
    align-items: center;
    height: 80vh;
    padding: 0 20px;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(241, 179, 241);
}
.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.parent h1{
    font-family: 'Shadows Into Light', cursive;
    margin: 50px 0;
    width: 100%;
    text-align: center;
}
.todo-input{
    width: 100%;
    padding: 13px 20px;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;

}
.task-box{
    width: 100%;
    
}

.task-box li{
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    list-style: none;
    padding: 5px;
    width: 100%;
    background-color: bisque;
    position: relative;
    margin: 5px 0;
    flex: 1;
}
.task-box li span{
    position: absolute;
    right:10px;
    cursor: pointer;
    border-radius: 20px
}

.done{
    text-decoration: line-through;
    background-color: lightcyan !important
}
.deleteButton{
    cursor: pointer;
}

.parent #time{
  margin: 0;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
}